.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 10rem;
}

.projects {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1em;
  max-width: 60rem;
  background-color: white;
}
.projects-img-container {
  margin-right: auto;
  width: 30rem;
}
.projects-img {
  aspect-ratio: 16/10;
  border-radius: 1em;
  width: 100%;
}

.projects-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: clamp(5rem, 40%, 20rem);
  margin-inline: auto;
}
.projects-content {
  color: #767676;
}

.projects-technologies {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.projects-technologies p {
  font-family: Mulish;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.projects-title {
  margin-bottom: 1rem;
  padding-top: 10rem;
  color: #147efb;
}

.projects-subtitle {
  padding-bottom: 5rem;
  text-align: center;
}

.projects-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #2d2e32;
}

.projects-links a:hover {
  color: #147efb;
  transition: ease-in 0.3s;
}

@media (max-width: 1000px) {
  .projects {
    flex-direction: column;
    max-width: 40rem;
  }
  .projects-img-container {
    margin: 0 auto;
  }
  .projects-links {
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .projects {
    max-width: 20rem;
  }
  .projects-text {
    width: clamp(5rem, 100%, 20rem);
  }
  .projects-img-container {
    width: 15rem;
  }
}
