.projects-container {
  background-color: #f0f0f0;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 5rem;
}

.projects {
  display: flex;
  background-color: red;

  gap: 5rem;
  padding: 2rem;
  border-radius: 1.7em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  max-height: 20rem;
}

.projects-img {
  border-radius: 1.7em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.projects-img img {
  border-radius: 1em;
  height: 100%;
}
