.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: #f0f0f0;
}

.inner-container {
  --secondary-color: #2d2e32;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 28rem;
}

.title {
  color: var(--secondary-color);
  font-size: 3.2rem;
}

.waving-hand {
  margin: 0 2rem;
  height: 3.5rem;
  width: 3.5rem;
}

.subtitle {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
}

.hero-svg-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.icon {
  color: var(--secondary-color);
}

.icon:hover {
  color: #147efb;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.hero-img {
  border: 3px solid black;
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  animation: morph 8s ease-in-out infinite;
}

.tech-stack-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 5rem;
}

.tech-stack-title {
  font-size: 1.2rem;
  padding-right: 2rem;
  border-right: 2px solid #2d2e32;
}

.tech-stack-svg-container {
  display: flex;
  gap: 3rem;
}

.tech-rounded {
  background-color: white;
  border-radius: 50%;
  height: 65px;
  padding: 1rem;
  transition-duration: 0.3s;
}

.tech-single-svg {
  height: 100%;
}

.tech-rounded:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  transition-duration: 0.3s;
}

.btn:hover {
  transform: scale(1.2);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
