.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: #f0f0f0;
}

.hero {
  --secondary-color: #2d2e32;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 28rem;
}

.hero-text-container h1 {
  color: var(--secondary-color);
  font-size: 3.2rem;
}

.waving-hand {
  margin: 0 2rem;
}

.hero-text-container p {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
}

.hero-text-container img {
  height: 3.5rem;
  width: 3.5rem;
}

.hero-icons-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.icons {
  color: var(--secondary-color);
}

.icons:hover {
  color: #147efb;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.hero-img {
  border: 2px solid black;
  border-radius: 50%;
}

.hero-img img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

.tech-stack-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 5rem;
}

.tech-stack-icons {
  display: flex;
  gap: 4rem;
}

.tech-stack {
  font-size: 1.2rem;
  padding-right: 2rem;
  border-right: 2px solid #2d2e32;
}

.tech-rounded {
  background-color: white;
  border-radius: 50%;
  height: 65px;
  padding: 15px;
}

.tech {
  height: 100%;
}

.tech-rounded:hover {
  cursor: pointer;
}
