.contact-container {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #147efb;
}

.contact-subtitle {
  color: #2d2e32;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  font-weight: bold;
}

.contact-form {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: clamp(10rem, 70%, 120rem);
  text-align: start;
  padding: 2rem;
  margin-bottom: 6rem;
}

.contact-input-container {
  padding: 1rem 0;
  letter-spacing: 1px;
}

.contact-input-container h1 {
  color: #2d2e32;
  margin-bottom: 1rem;
}

.contact-input,
.contact-textarea {
  width: 100%;
}

.contact-error {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.contact-input-title {
  text-transform: capitalize;
}

.contact-btn {
  margin-top: 1rem;
  transition: none;
}
.contact-btn:hover {
  transform: none;
}
