.about-me {
  background-color: white;
  padding: 5rem;
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about-me-img-container {
  height: 25rem;
}

.about-me-pic {
  border-radius: 1em;
  height: 100%;
  aspect-ratio: 1/1;
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  min-width: 18rem;
}

.text-container h3 {
  color: #147efb;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-container h4 {
  color: #2d2e32;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.text-container p {
  color: #767676;
  font-family: "Mulish";
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .about-me-container {
    flex-wrap: wrap;
  }
  .text-container {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .about-me-pic {
    width: 50rem;
    height: 20rem;
  }
}
